<!DOCTYPE html>
<html>
    <head data-gwd-animation-mode="quickMode">
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="generator" content="Google Web Designer 1.0.6.0428">
                <style type="text/css" id="" title="Temp" media="screen">
                    .gwd-body {
                    height: 100%;
                    background-color: transparent;
                    -webkit-transform-style: preserve-3d;
                    -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    }
                </style>
</head>
<body class="gwd-body" style="position:absolute; width:auto;">
    <div class="body">
        <title></title>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td id="background" align="center" bgcolor="#000000">
                        <table width="640" cellpadding="0" cellspacing="0" style="margin:0 10px;">
                            <tbody>
                                <tr>
                                    <td width="640" height="15"></td>
                                </tr>
                                <tr>
                                    <td width="640">
                                        <table id="top-bar" height="10" width="640" style="background-color: #1565c0;  border-top-left-radius: 6px;
                                            border-top-right-radius: 6px;
                                            border-bottom-right-radius: 0px;
                                            border-bottom-left-radius: 0px;&gt;
                                            &lt;tbody&gt;
                                            &lt;tr height=" 10="" "=" ">
</table>
</td>
</tr>
<tr>
    <td id="header " class=" " width="640 " height="100 " align="left " style="background-color: #90caf9 ">
        <table cellpadding="20 " cellspacing="0 ">
            <tbody>
                <tr>
                    <td></td><td><img src="https://dl.dropboxusercontent.com/u/50305707/logo_masked.png" style="position:relative; WIDTH:110px; HEIGHT:70px"></td>
<td class=" ">
		<strong><div style="font-size:21px; text-align:center; color:#41403D; -webkit-font-smoothing: subpixel-antialiased; "><strong>Parking Locator</strong></div></strong>
		<div style ="font-size:17px; text-align:center; color:#42000000; text-indent:10px; -webkit-font-smoothing: subpixel-antialiased; ">your one stop parking solution.
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
    <td height="5 " bgcolor="#ffffff " class=" "></td>
</tr>
<tr id="simple-content-row ">
    <td class="w640 " width="640 " bgcolor="#ffffff ">
        <table align="left " cellspacing="0 ">
            <tbody>
                <tr>
                    <td width="30 "></td>
                    <td>
                       
                            <table id="text-only" cellspacing="0 " border="0 ">
                                <tbody>
                                    <tr>
                                        <td width="580">
                                            <p></p>
                                            <p style="color:#1565c0; font-size:18px; font-weight:bold; margin-top: 0px; font-family: HelveticaNeue, sans-serif; ">Change Password</p>
                                            <div align="left">
                                                <p style="font-family: HelveticaNeue, font-size:12px sans-serif; ">Your password for <a style="color:#2196F3; font-weight:bold; text-decoration:none;">${info.email}</a> has been successfully changed at ${info.time}<br> <br>
                                                        If you did not make this request, please contact <a href="mailto:parking.locator@gmail.com" style="color:#2196F3; font-weight:bold; text-decoration:none;">parking.locator@gmail.com</a>
                                                        immediately.<br>
                                                            <br><br>
</p>
</div>
</td>
</tr>
</tbody>
</table>
</layout>
                                        </td>
                                        <td class="w30 " width="30 "></td>
                                    </tr>
                                </tbody>
                            </table>
</td>
</tr>
<tr>
    <td>
        <table id="footer " cellspacing="0 " border="0 " style="background-color: #1565c0; font-size:14px ">
            <tbody>
                <tr>
                    <td class="w30 " width="30 "></td>
                    <td class="w580 h0 " width="360 " height="10 "></td>
                </tr>
                <tr>
                    <td class="w30 " width="30 "></td>
                    <td class="w580 " width="360 " valign="top ">
                        <p id="permission-reminder " align="left ">
                            <span>
                                <div style="text-decoration:none; font-weight:bold; color:#8A000000 ">Parking Locator</div>
                            </span>
                                <span><a href="mailto:parking.locator@gmail.com" style="text-decoration: none; color:#000000">Contact: parking.locator@gmail.com</a></span>
</p>
</td>
<td class="hide w0 " width="160 " valign="top ">
</td>
<td class="w30 " width="30 "></td>
</tr>
<tr>
    <td class="w30 " width="30 "></td>
    <td class="w580 h0 " width="360 " height="15 "></td>
    <td class="w0 " width="60 "></td>
    <td class="w0 " width="160 "></td>
    <td class="w30 " width="30 "></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
    <td id="background-bottom-space " height="20 " class=" "></td>
</tr>
</tbody>
</table>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
</body>
</html>
